### data path

In [17]:
import pandas as pd
import dill

# files can be downloaded from https://mimic.physionet.org/gettingstarted/dbsetup/
med_file = '/home/chaoqiy2/MIMIC/physionet.org/files/mimiciii/1.4/PRESCRIPTIONS.csv'
diag_file = '/home/chaoqiy2/MIMIC/physionet.org/files/mimiciii/1.4/DIAGNOSES_ICD.csv'
procedure_file = '/home/chaoqiy2/MIMIC/physionet.org/files/mimiciii/1.4/PROCEDURES_ICD.csv'

# drug code mapping files (already in ./data/)
ndc2atc_file = '/home/chaoqiy2/TEMP/GAMENet/data/ndc2atc_level4.csv' 
cid_atc = '/home/chaoqiy2/TEMP/GAMENet/data/drug-atc.csv'
ndc_rxnorm_file = '/home/chaoqiy2/github/TEMP/data/ndc2rxnorm_mapping.txt'

### process medication

In [5]:
med_pd = pd.read_csv(med_file, dtype={'NDC':'category'})

med_pd.drop(columns=['ROW_ID','DRUG_TYPE','DRUG_NAME_POE','DRUG_NAME_GENERIC',
                     'FORMULARY_DRUG_CD','PROD_STRENGTH','DOSE_VAL_RX',
                     'DOSE_UNIT_RX','FORM_VAL_DISP','FORM_UNIT_DISP', 'GSN', 'FORM_UNIT_DISP',
                      'ROUTE','ENDDATE','DRUG'], axis=1, inplace=True)
med_pd.drop(index = med_pd[med_pd['NDC'] == '0'].index, axis=0, inplace=True)
med_pd.fillna(method='pad', inplace=True)
med_pd.dropna(inplace=True)
med_pd.drop_duplicates(inplace=True)
med_pd['ICUSTAY_ID'] = med_pd['ICUSTAY_ID'].astype('int64')
med_pd['STARTDATE'] = pd.to_datetime(med_pd['STARTDATE'], format='%Y-%m-%d %H:%M:%S')    
med_pd.sort_values(by=['SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID', 'STARTDATE'], inplace=True)
med_pd = med_pd.reset_index(drop=True)

# def filter_first72hour_med(med_pd):
#     med_pd_new = med_pd.drop(columns=['NDC'])
#     med_pd_new.drop_duplicates(inplace=True)
#     med_pd_new = med_pd_new.groupby(by=['SUBJECT_ID','HADM_ID','ICUSTAY_ID']).head([1]).reset_index(drop=True)
#     med_pd_new = pd.merge(med_pd_new, med_pd, on=['SUBJECT_ID','HADM_ID','ICUSTAY_ID','STARTDATE'])
#     med_pd_new = med_pd_new.drop(columns=['STARTDATE'])
#     return med_pd_new
# med_pd = filter_first72hour_med(med_pd)

med_pd = med_pd.drop(columns=['ICUSTAY_ID'])
med_pd = med_pd.drop_duplicates()
med_pd = med_pd.reset_index(drop=True)

# visit >= 2
def process_visit_lg2(med_pd):
    a = med_pd[['SUBJECT_ID', 'HADM_ID']].groupby(by='SUBJECT_ID')['HADM_ID'].unique().reset_index()
    a['HADM_ID_Len'] = a['HADM_ID'].map(lambda x:len(x))
    a = a[a['HADM_ID_Len'] > 1]
    return a 
med_pd_lg2 = process_visit_lg2(med_pd).reset_index(drop=True)    
med_pd = med_pd.merge(med_pd_lg2[['SUBJECT_ID']], on='SUBJECT_ID', how='inner')   

# NDCList = dill.load(open('idx2drug.pkl', 'rb'))
# med_pd = med_pd[med_pd.NDC.isin(list(NDCList.keys()))]

med_pd

         SUBJECT_ID  HADM_ID  STARTDATE          NDC
0                17   161087 2135-05-09  00713016550
1                17   161087 2135-05-09  00904770418
2                17   161087 2135-05-09  00904404073
3                17   161087 2135-05-09  00904526161
4                17   161087 2135-05-09  00121075210
...             ...      ...        ...          ...
1135464       99982   183791 2157-02-16  51991045757
1135465       99982   183791 2157-02-16  00409490234
1135466       99982   183791 2157-02-16  00904404073
1135467       99982   183791 2157-02-16  63323026201
1135468       99982   183791 2157-02-16  55390000401

[1135469 rows x 4 columns]

### map NDC to ATC4

In [6]:
def ndc2atc4(med_pd):
    with open(ndc_rxnorm_file, 'r') as f:
        ndc2rxnorm = eval(f.read())
#     med_pd['NDC_orig'] = med_pd.NDC
    med_pd['RXCUI'] = med_pd['NDC'].map(ndc2rxnorm)
    med_pd.dropna(inplace=True)

    rxnorm2atc = pd.read_csv(ndc2atc_file)
    rxnorm2atc = rxnorm2atc.drop(columns=['YEAR','MONTH','NDC'])
    rxnorm2atc.drop_duplicates(subset=['RXCUI'], inplace=True)
    med_pd.drop(index = med_pd[med_pd['RXCUI'].isin([''])].index, axis=0, inplace=True)
    
    med_pd['RXCUI'] = med_pd['RXCUI'].astype('int64')
    med_pd = med_pd.reset_index(drop=True)
    med_pd = med_pd.merge(rxnorm2atc, on=['RXCUI'])
    med_pd.drop(columns=['NDC', 'RXCUI'], inplace=True)
    med_pd = med_pd.rename(columns={'ATC4':'NDC'})
    med_pd['NDC'] = med_pd['NDC'].map(lambda x: x[:4])
    med_pd = med_pd.drop_duplicates()    
    med_pd = med_pd.reset_index(drop=True)
    return med_pd

med_pd = ndc2atc4(med_pd)

NDCList = dill.load(open('idx2drug.pkl', 'rb'))
med_pd = med_pd[med_pd.NDC.isin(list(NDCList.keys()))]


def filter_300_most_med(med_pd):
    med_count = med_pd.groupby(by=['NDC']).size().reset_index().rename(columns={0:'count'}).sort_values(by=['count'],ascending=False).reset_index(drop=True)
    med_pd = med_pd[med_pd['NDC'].isin(med_count.loc[:299, 'NDC'])]
    
    return med_pd.reset_index(drop=True)

med_pd = filter_300_most_med(med_pd)

med_pd

        SUBJECT_ID  HADM_ID  STARTDATE   NDC
0               17   161087 2135-05-09  N02B
1               17   194023 2134-12-27  N02B
2               21   111970 2135-02-06  N02B
3               23   152223 2153-09-03  N02B
4               36   122659 2131-05-15  N02B
...            ...      ...        ...   ...
704656       97547   112445 2125-11-11  N05A
704657       97547   112445 2125-11-19  N05A
704658       97547   112445 2125-11-10  N05A
704659       97547   127852 2125-10-29  N05A
704660       97547   194938 2125-10-18  N05A

[704661 rows x 4 columns]

### process diagnosis

In [7]:
diag_pd = pd.read_csv(diag_file)
diag_pd.dropna(inplace=True)
diag_pd.drop(columns=['SEQ_NUM','ROW_ID'],inplace=True)
diag_pd.drop_duplicates(inplace=True)
diag_pd.sort_values(by=['SUBJECT_ID','HADM_ID'], inplace=True)
diag_pd = diag_pd.reset_index(drop=True)

def filter_2000_most_diag(diag_pd):
    diag_count = diag_pd.groupby(by=['ICD9_CODE']).size().reset_index().rename(columns={0:'count'}).sort_values(by=['count'],ascending=False).reset_index(drop=True)
    diag_pd = diag_pd[diag_pd['ICD9_CODE'].isin(diag_count.loc[:1999, 'ICD9_CODE'])]
    
    return diag_pd.reset_index(drop=True)

diag_pd = filter_2000_most_diag(diag_pd)
diag_pd

        SUBJECT_ID  HADM_ID ICD9_CODE
0                2   163353     V3001
1                2   163353      V053
2                2   163353      V290
3                3   145834      0389
4                3   145834     78559
...            ...      ...       ...
625429       99995   137810     41401
625430       99999   113369      7861
625431       99999   113369      4019
625432       99999   113369     25000
625433       99999   113369      4139

[625434 rows x 3 columns]

### process procedure

In [8]:
pro_pd = pd.read_csv(procedure_file, dtype={'ICD9_CODE':'category'})
pro_pd.drop(columns=['ROW_ID'], inplace=True)
pro_pd.drop_duplicates(inplace=True)
pro_pd.sort_values(by=['SUBJECT_ID', 'HADM_ID', 'SEQ_NUM'], inplace=True)
pro_pd.drop(columns=['SEQ_NUM'], inplace=True)
pro_pd.drop_duplicates(inplace=True)
pro_pd.reset_index(drop=True, inplace=True)

def filter_1000_most_pro(pro_pd):
    pro_count = pro_pd.groupby(by=['ICD9_CODE']).size().reset_index().rename(columns={0:'count'}).sort_values(by=['count'],ascending=False).reset_index(drop=True)
    pro_pd = pro_pd[pro_pd['ICD9_CODE'].isin(pro_count.loc[:1000, 'ICD9_CODE'])]
    
    return pro_pd.reset_index(drop=True) 

pro_pd = filter_1000_most_pro(pro_pd)
pro_pd

        SUBJECT_ID  HADM_ID ICD9_CODE
0                2   163353      9955
1                3   145834      9604
2                3   145834      9962
3                3   145834      8964
4                3   145834      9672
...            ...      ...       ...
226229       99999   113369      8108
226230       99999   113369      8051
226231       99999   113369      8162
226232       99999   113369      9979
226233       99999   113369      8451

[226234 rows x 3 columns]

### ndc2drug

In [9]:
# ndc2drug = med_pd[['NDC_orig', 'NDC']].groupby(by=['NDC'])['NDC_orig'].unique().reset_index()
# ndc2drug.NDC_orig = ndc2drug.NDC_orig.map(lambda x: list(x))
# med_pd.drop_duplicates(['NDC_orig'], inplace=True)

In [10]:
pro_pd

        SUBJECT_ID  HADM_ID ICD9_CODE
0                2   163353      9955
1                3   145834      9604
2                3   145834      9962
3                3   145834      8964
4                3   145834      9672
...            ...      ...       ...
226229       99999   113369      8108
226230       99999   113369      8051
226231       99999   113369      8162
226232       99999   113369      9979
226233       99999   113369      8451

[226234 rows x 3 columns]

### combine these three table

In [11]:
med_pd_key = med_pd[['SUBJECT_ID', 'HADM_ID']].drop_duplicates()
diag_pd_key = diag_pd[['SUBJECT_ID', 'HADM_ID']].drop_duplicates()
pro_pd_key = pro_pd[['SUBJECT_ID', 'HADM_ID']].drop_duplicates()

combined_key = med_pd_key.merge(diag_pd_key, on=['SUBJECT_ID', 'HADM_ID'], how='inner')
combined_key = combined_key.merge(pro_pd_key, on=['SUBJECT_ID', 'HADM_ID'], how='inner')

diag_pd = diag_pd.merge(combined_key, on=['SUBJECT_ID', 'HADM_ID'], how='inner')
med_pd = med_pd.merge(combined_key, on=['SUBJECT_ID', 'HADM_ID'], how='inner')
pro_pd = pro_pd.merge(combined_key, on=['SUBJECT_ID', 'HADM_ID'], how='inner')

# flatten and merge
diag_pd = diag_pd.groupby(by=['SUBJECT_ID','HADM_ID'])['ICD9_CODE'].unique().reset_index()  
med_pd = med_pd.groupby(by=['SUBJECT_ID', 'HADM_ID'])['NDC'].unique().reset_index()

pro_pd = pro_pd.groupby(by=['SUBJECT_ID','HADM_ID'])['ICD9_CODE'].unique().reset_index().rename(columns={'ICD9_CODE':'PRO_CODE'})  
med_pd['NDC'] = med_pd['NDC'].map(lambda x: list(x))
pro_pd['PRO_CODE'] = pro_pd['PRO_CODE'].map(lambda x: list(x))
data = diag_pd.merge(med_pd, on=['SUBJECT_ID', 'HADM_ID'], how='inner')
data = data.merge(pro_pd, on=['SUBJECT_ID', 'HADM_ID'], how='inner')
#     data['ICD9_CODE_Len'] = data['ICD9_CODE'].map(lambda x: len(x))
data['NDC_Len'] = data['NDC'].map(lambda x: len(x))

### statistics

In [12]:
def statistics():
    print('#patients ', data['SUBJECT_ID'].unique().shape)
    print('#clinical events ', len(data))
    
    diag = data['ICD9_CODE'].values
    med = data['NDC'].values
    pro = data['PRO_CODE'].values
    
    unique_diag = set([j for i in diag for j in list(i)])
    unique_med = set([j for i in med for j in list(i)])
    unique_pro = set([j for i in pro for j in list(i)])
    
    print('#diagnosis ', len(unique_diag))
    print('#med ', len(unique_med))
    print('#procedure', len(unique_pro))
    
    avg_diag = 0
    avg_med = 0
    avg_pro = 0
    max_diag = 0
    max_med = 0
    max_pro = 0
    cnt = 0
    max_visit = 0
    avg_visit = 0

    for subject_id in data['SUBJECT_ID'].unique():
        item_data = data[data['SUBJECT_ID'] == subject_id]
        x = []
        y = []
        z = []
        visit_cnt = 0
        for index, row in item_data.iterrows():
            visit_cnt += 1
            cnt += 1
            x.extend(list(row['ICD9_CODE']))
            y.extend(list(row['NDC']))
            z.extend(list(row['PRO_CODE']))
        x = set(x)
        y = set(y)
        z = set(z)
        avg_diag += len(x)
        avg_med += len(y)
        avg_pro += len(z)
        avg_visit += visit_cnt
        if len(x) > max_diag:
            max_diag = len(x)
        if len(y) > max_med:
            max_med = len(y) 
        if len(z) > max_pro:
            max_pro = len(z)
        if visit_cnt > max_visit:
            max_visit = visit_cnt
        

        
    print('#avg of diagnoses ', avg_diag/ cnt)
    print('#avg of medicines ', avg_med/ cnt)
    print('#avg of procedures ', avg_pro/ cnt)
    print('#avg of vists ', avg_visit/ len(data['SUBJECT_ID'].unique()))
    

    print('#max of diagnoses ', max_diag)
    print('#max of medicines ', max_med)
    print('#max of procedures ', max_pro)
    print('#max of visit ', max_visit)
    
statistics()
data.to_pickle('data_final.pkl')
data.head()

#patients  (6349,)
#clinical events  14995
#diagnosis  1958
#med  131
#procedure 962
#avg of diagnoses  10.523974658219407
#avg of medicines  11.453217739246416
#avg of procedures  3.8101367122374126
#avg of vists  2.36178925815089
#max of diagnoses  128
#max of medicines  65
#max of procedures  50
#max of visit  29

,SUBJECT_ID,HADM_ID,ICD9_CODE,NDC,PRO_CODE,NDC_Len
0,17,161087,"[4239, 5119, 78551, 4589, 311, 7220, 71946, 2724]","[N02B, A01A, A02B, A06A, B05C, A12A, A12C, C01...","[3731, 8872, 3893]",15
1,17,194023,"[7455, 45829, V1259, 2724]","[N02B, A01A, A02B, A06A, A12A, B05C, A12C, C01...","[3571, 3961, 8872]",16
2,21,109451,"[41071, 78551, 5781, 5849, 40391, 4280, 4592, ...","[A06A, B05C, C07A, A12B, C03C, A12A, A02A, J01...","[0066, 3761, 3950, 3606, 0042, 0047, 3895, 399...",23
3,21,111970,"[0388, 78552, 40391, 42731, 70709, 5119, 6823,...","[N02B, A06A, B05C, A12C, A07A, A02A, B01A, N06...","[3995, 8961, 0014]",19
4,23,124321,"[2252, 3485, 78039, 4241, 4019, 2720, 2724, V4...","[B05C, A07A, C07A, A06A, N02B, C02D, B01A, A02...",[0151],17

# Create Vocaboray for Medical Codes & Save Patient Record in pickle form

In [18]:
import dill
import pandas as pd
class Voc(object):
    def __init__(self):
        self.idx2word = {}
        self.word2idx = {}

    def add_sentence(self, sentence):
        for word in sentence:
            if word not in self.word2idx:
                self.idx2word[len(self.word2idx)] = word
                self.word2idx[word] = len(self.word2idx)
                
def create_str_token_mapping(df):
    diag_voc = Voc()
    med_voc = Voc()
    pro_voc = Voc()
    ## only for DMNC
#     diag_voc.add_sentence(['seperator', 'decoder_point'])
#     med_voc.add_sentence(['seperator', 'decoder_point'])
#     pro_voc.add_sentence(['seperator', 'decoder_point'])
    
    for index, row in df.iterrows():
        diag_voc.add_sentence(row['ICD9_CODE'])
        med_voc.add_sentence(row['NDC'])
        pro_voc.add_sentence(row['PRO_CODE'])
    
    dill.dump(obj={'diag_voc':diag_voc, 'med_voc':med_voc ,'pro_voc':pro_voc}, file=open('voc_final.pkl','wb'))
    return diag_voc, med_voc, pro_voc

def create_patient_record(df, diag_voc, med_voc, pro_voc):
    records = [] # (patient, code_kind:3, codes)  code_kind:diag, proc, med
    for subject_id in df['SUBJECT_ID'].unique():
        item_df = df[df['SUBJECT_ID'] == subject_id]
        patient = []
        for index, row in item_df.iterrows():
            admission = []
            admission.append([diag_voc.word2idx[i] for i in row['ICD9_CODE']])
            admission.append([pro_voc.word2idx[i] for i in row['PRO_CODE']])
            admission.append([med_voc.word2idx[i] for i in row['NDC']])
            patient.append(admission)
        records.append(patient) 
    dill.dump(obj=records, file=open('records_final.pkl', 'wb'))
    return records
        
    
path='data_final.pkl'
df = pd.read_pickle(path)
diag_voc, med_voc, pro_voc = create_str_token_mapping(df)
records = create_patient_record(df, diag_voc, med_voc, pro_voc)
len(diag_voc.idx2word), len(med_voc.idx2word), len(pro_voc.idx2word)

(1958, 131, 962)

# DDI & Construct EHR Adj and DDI Adj

In [19]:
import pandas as pd
import numpy as np
from collections import defaultdict
import dill

# atc -> cid
ddi_file = '/home/chaoqiy2/TEMP/GAMENet/data/drug-DDI.csv'
cid_atc = '/home/chaoqiy2/TEMP/GAMENet/data/drug-atc.csv'
voc_file = '/home/chaoqiy2/TEMP/GAMENet/data/voc_final.pkl'
data_path = '/home/chaoqiy2/TEMP/GAMENet/data/records_final.pkl'
TOPK = 40 # topk drug-drug interaction

records =  dill.load(open(data_path, 'rb'))
cid2atc_dic = defaultdict(set)
med_voc = dill.load(open(voc_file, 'rb'))['med_voc']
med_voc_size = len(med_voc.idx2word)
med_unique_word = [med_voc.idx2word[i] for i in range(med_voc_size)]
atc3_atc4_dic = defaultdict(set)
for item in med_unique_word:
    atc3_atc4_dic[item[:4]].add(item)
    

with open(cid_atc, 'r') as f:
    for line in f:
        line_ls = line[:-1].split(',')
        cid = line_ls[0]
        atcs = line_ls[1:]
        for atc in atcs:
            if len(atc3_atc4_dic[atc[:4]]) != 0:
                cid2atc_dic[cid].add(atc[:4])
            
# ddi load
ddi_df = pd.read_csv(ddi_file)
# fliter sever side effect 
ddi_most_pd = ddi_df.groupby(by=['Polypharmacy Side Effect', 'Side Effect Name']).size().reset_index().rename(columns={0:'count'}).sort_values(by=['count'],ascending=False).reset_index(drop=True)
ddi_most_pd = ddi_most_pd.iloc[-TOPK:,:]
# ddi_most_pd = pd.DataFrame(columns=['Side Effect Name'], data=['as','asd','as'])
fliter_ddi_df = ddi_df.merge(ddi_most_pd[['Side Effect Name']], how='inner', on=['Side Effect Name'])
ddi_df = fliter_ddi_df[['STITCH 1','STITCH 2']].drop_duplicates().reset_index(drop=True)

# weighted ehr adj 
ehr_adj = np.zeros((med_voc_size, med_voc_size))
for patient in records:
    for adm in patient:
        med_set = adm[2]
        for i, med_i in enumerate(med_set):
            for j, med_j in enumerate(med_set):
                if j<=i:
                    continue
                ehr_adj[med_i, med_j] = 1
                ehr_adj[med_j, med_i] = 1
dill.dump(ehr_adj, open('ehr_adj_final.pkl', 'wb'))  



# ddi adj
ddi_adj = np.zeros((med_voc_size,med_voc_size))
for index, row in ddi_df.iterrows():
    # ddi
    cid1 = row['STITCH 1']
    cid2 = row['STITCH 2']
    
    # cid -> atc_level3
    for atc_i in cid2atc_dic[cid1]:
        for atc_j in cid2atc_dic[cid2]:
            
            # atc_level3 -> atc_level4
            for i in atc3_atc4_dic[atc_i]:
                for j in atc3_atc4_dic[atc_j]:
                    if med_voc.word2idx[i] != med_voc.word2idx[j]:
                        ddi_adj[med_voc.word2idx[i], med_voc.word2idx[j]] = 1
                        ddi_adj[med_voc.word2idx[j], med_voc.word2idx[i]] = 1
dill.dump(ddi_adj, open('ddi_A_final.pkl', 'wb')) 
                        
print('complete!')

complete!

In [22]:
med_voc.idx2word

{0: 'N02B',
 1: 'A01A',
 2: 'A02B',
 3: 'A06A',
 4: 'B05C',
 5: 'A12A',
 6: 'A12C',
 7: 'C01C',
 8: 'A07A',
 9: 'M01A',
 10: 'N01A',
 11: 'C07A',
 12: 'C03C',
 13: 'A12B',
 14: 'N07A',
 15: 'C02D',
 16: 'N02A',
 17: 'N06A',
 18: 'A02A',
 19: 'J01M',
 20: 'C02A',
 21: 'B01A',
 22: 'A11C',
 23: 'C03A',
 24: 'A03B',
 25: 'C10A',
 26: 'C01B',
 27: 'N05C',
 28: 'C09A',
 29: 'D01A',
 30: 'H03A',
 31: 'J01D',
 32: 'B02B',
 33: 'R06A',
 34: 'J01X',
 35: 'N03A',
 36: 'N05A',
 37: 'C08C',
 38: 'D11A',
 39: 'C01D',
 40: 'A04A',
 41: 'M03A',
 42: 'A07E',
 43: 'R03A',
 44: 'B03B',
 45: 'D07A',
 46: 'N07B',
 47: 'N05B',
 48: 'R05C',
 49: 'D06A',
 50: 'A03F',
 51: 'R01A',
 52: 'G04B',
 53: 'C01E',
 54: 'L01A',
 55: 'A07D',
 56: 'D04A',
 57: 'A05A',
 58: 'P01C',
 59: 'D06B',
 60: 'L01B',
 61: 'C01A',
 62: 'C05A',
 63: 'C03D',
 64: 'P01A',
 65: 'J02A',
 66: 'J05A',
 67: 'L01X',
 68: 'H02A',
 69: 'V03A',
 70: 'J01F',
 71: 'G03A',
 72: 'J01E',
 73: 'J04A',
 74: 'D10A',
 75: 'P01B',
 76: 'R05D',
 77: 'N04B',
 78: 'G04C',
 79: 'J01C',
 80: 'S01E',
 81: 'H05B',
 82: 'M04A',
 83: 'C09C',
 84: 'J01G',
 85: 'C08D',
 86: 'N06D',
 87: 'H01C',
 88: 'M03B',
 89: 'A10B',
 90: 'M05B',
 91: 'C05B',
 92: 'B02A',
 93: 'D08A',
 94: 'A16A',
 95: 'A11D',
 96: 'C02C',
 97: 'J01A',
 98: 'L04A',
 99: 'A11G',
 100: 'H03B',
 101: 'L01D',
 102: 'N06B',
 103: 'C03B',
 104: 'N01B',
 105: 'G03C',
 106: 'N04A',
 107: 'N02C',
 108: 'A07B',
 109: 'A11H',
 110: 'S01F',
 111: 'A09A',
 112: 'L01C',
 113: 'L02B',
 114: 'H01B',
 115: 'R01B',
 116: 'G02C',
 117: 'A03A',
 118: 'M02A',
 119: 'D05A',
 120: 'J06B',
 121: 'S01H',
 122: 'G01A',
 123: 'C03X',
 124: 'G03B',
 125: 'M01C',
 126: 'R02A',
 127: 'V04C',
 128: 'S01K',
 129: 'S01A',
 130: 'P02C'}

### ddi_matrix